.notificationMessage {
    padding: 3px;
    color: black;
    font-weight: bold;
    background: #FFF1A8;
}

.errorMessage {
    padding: 3px;
    color: black;
    font-weight: bold;
    background: red;
}